
# graphify-axet
.graphify/

target/
backend/target/
*.jar
*.jar.original
*.war
*.ear
l
frontend/node_modules/
frontend/dist/
frontend/.angular/
backend/target/

node_modules/
dist/
.angular/
target/

*.jar
*.war
*.ear

